{% extends "portal/base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/portal/negotiation-international-shipment/style.css') }}">
{% endblock %}
{% block content %}

<h1 class="title-font-style">Remessa Internacional</h1>

<div id="steps">
    {% if step == '3' %}
    {% include 'portal/negotiation-tourism/forms/step-3.html' %}
    {% elif step == '2' %}
    {% include 'portal/negotiation-tourism/forms/step-2.html' %}
    {% else %}
    {% include 'portal/negotiation-international-shipment/forms/index.html' %}
    {% endif %}
</div>


{% endblock %}