{% extends "portal/base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/portal/negotiation-international-shipment/style.css') }}">
{% endblock %}
{% block content %}

<h1 class="title-font-style">Remessa Internacional</h1>

<div id="steps">


{% if step == 'initial'%}
{% set template='portal/negotiation-international-shipment/forms/index.html' %}
{% else %}
{% set template = data.path_to_template %}
{% endif %}
{% include template %}


</div>


{% endblock %}