.form-price {
    display: flex;
    flex-direction: column;
    gap: 50px;
    display: flex;
    align-items: center;
    

}
.form-price>div {
    display: flex;
    gap: 10px;
    align-items: baseline;
    justify-content: center;
}


.form-price>div>div {
    width: 250px;
    padding: 10px 30px;
    border-radius: 25px 25px 25px;
    color: gray;
    font-size: 12px;
    font-weight: 500;
    background-color: #80808070;
    cursor: pointer;
    transition: 0.3s;
}
.shadow {
      /* box-shadow: 0px 5px 5px #ddd; */
      box-shadow: 5px 5px 5px rgb(0 0 0 / 50%);
      border-radius: 20px 20px 20px;
}
.custom-options {
    margin-top: 10px;
    background-color: white;
    padding: 0px 36px;
    text-align: center;
    border-radius: 10px;
    max-height: 50px;
    overflow-x: auto;
}
.custom-options>li:hover {
    transition: 0.3s;
    /* box-shadow: 5px 5px 5px rgb(0 0 0 / 50%); */
    /* border-bottom: 1px solid; */
    font-size: 16px;
}
.menu-option-form-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
