.home-page {
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-price {
    display: flex;
    flex-direction: column;
    gap: 15px;
    display: flex;
    align-items: center;

}
.form-price>div {
    display: flex;
    gap: 10px;
    align-items: baseline;
    justify-content: center;
}


.form-price>div>div {
    width: 250px;
    padding: 10px 30px;
    border-radius: 25px 25px 25px;
    color: gray;
    font-size: 12px;
    font-weight: 500;
    background-color: #80808070;
    cursor: pointer;
    transition: 0.3s;
}
.shadow {
      /* box-shadow: 0px 5px 5px #ddd; */
      box-shadow: 5px 5px 5px rgb(0 0 0 / 50%);
      border-radius: 20px 20px 20px;
}
.custom-options {
    margin-top: 10px;
    background-color: white;
    padding: 0px 36px;
    text-align: center;
    border-radius: 10px;
    max-height: 100px;
    overflow-x: auto;
    font-size: 16px;
    color: black;
    font-weight: 300;
}

.custom-options>li:hover {
    transition: 0.3s;
    font-weight: 500;
}
.menu-option-form-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.search-location,
.search-coin {
    width: 70%;
    text-align: center;
    border-radius: 25px;
    background-color: inherit;
    padding: 4px 4px;
    font-size: 16px;
}
.search-location:focus,
.search-coin:focus {
    outline: none; 
    background: white;
}

.focus-input-search{
    background-color: white;
}