.form-price {
    display: flex;
    flex-direction: column;
    gap: 15px;
    display: flex;
    align-items: center;
    height: 100%;

}

/* .form-price>div>div {
    width: 250px;
    padding: 10px 30px;
    border-radius: 25px 25px 25px;
    color: gray;
    font-size: 12px;
    font-weight: 500;
    background-color: #80808070;
    cursor: pointer;
    transition: 0.3s;
} */
.shadow {
      /* box-shadow: 0px 5px 5px #ddd; */
      box-shadow: 5px 5px 5px rgb(0 0 0 / 50%);
      border-radius: 20px 20px 20px;
}
.custom-options {
    margin-top: 10px;
    background-color: white;
    /* padding: 0px 36px; */
    text-align: center;
    border-radius: 10px;
    max-height: 100px;
    overflow-x: auto;
    font-size: 16px;
    color: black;
    font-weight: 300;
}

.custom-options>li {
    margin-top: 5px;
    font-size: 14px;
}

.custom-options>li:hover {
    transition: 0.3s;
    font-weight: 500;
}


.container-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;

}
.container-location,
.container-coin {
    width: 250px;
    text-align: center;
    border-radius: 25px;
    background-color: inherit;
    padding: 4px 4px;
    font-size: 16px;
}

.focus-input-search{
    background-color: white;
}

.container-coin,
.container-location {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    background-color: #80808070;
    padding: 10px 15px;
    text-align: center;
    border-radius: 45px;
    justify-content: center;
    
}
/* force background style lib select2 */
.container-coin>select, 
.select2-container--default .select2-selection--single {
    background-color: initial !important;
    border-radius: 25px;
    border: none;
    text-align: left;
}

.container-coin>select:focus {
    /* background: white; */
    outline: none;
    -webkit-box-shadow: none;

}

.container-input-step {
    display: flex;
    flex-direction: column;
    gap: 20px;
}