{% extends "portal/base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/portal/document-style/style.css') }}">
    <title>Termos de uso</title>
{% endblock %}
{% block content %}

<div class="main-content">

    <h1 class="title-font-style">Termos de uso</h1>
    <div class="inside-content">

        <p>
            A. DO OBJETIVO: 
            <ul class='inside-ul'>
                <li>
                    estabelecer os termos e condições que regem o uso do site E-Money Câmbio bem como definir as partes envolvidas no contexto de sua utilização.
                </li>
            </ul>
        </p>

        <p>
            B. DA CIÊNCIA: 
            <ul class='inside-ul'>
                <li>
                    o usuário do site E-Money Câmbio DECLARA TER LIDO ESTE DOCUMENTO DENOMINADO “E-Money Câmbio – Termos e Condições de Uso” NA SUA TOTALIDADE, ESTANDO CIENTE E CONCORDANDO COM SEU CONTEÚDO INTEGRAL.
                </li>
            </ul>            
        </p>
        <p>
            C. DAS DEFINIÇÕES
            <ul class='inside-ul'>
                <li>
                    C.1: USUÁRIO: 
                    <ul class='inside-ul'>
                        <li>
                            toda pessoa física ou jurídica que utiliza dos serviços do site E-Money Câmbio.
                        </li>
                    </ul>
                </li>
                <li>
                    C.2: CORRETORAS DE CÂMBIO:                     
                    <ul class='inside-ul'>
                        <li>
                            são Instituições Financeiras autorizadas pelo Banco Central do Brasil a operar no mercado de câmbio.
                        </li>
                    </ul>
                </li>
                <li>
                    C.3: MOEDA ESTRANGEIRA:
                    <ul class='inside-ul'>
                        <li>
                            moeda vigente em outros países.
                        </li>
                    </ul>
                </li>
                <li>
                    C.4: TAXA DE CÂMBIO: 
                    <ul class='inside-ul'>
                        <li>
                            taxa de conversão da moeda estrangeira para a moeda nacional. Nas Operações de TURISMO, as taxas apresentadas já estarão no formato VET (valor efetivo total), considerando o IOF pertinente a cada tipo de produto (espécie ou cartão). Já nas operações de COMERCIAL e REMESSA, as taxas apresentadas não incluem o IOF, uma vez que a incidência do mesmo varia de acordo com a natureza de operação que está sendo realizada.
                        </li>
                    </ul>
                    
                </li>
                <li>
                    C.5: QUANTIDADE:
                    <ul class='inside-ul'>
                        <li>
                            quantidade de moeda estrangeira a ser transacionada.
                        </li>
                    </ul>                    
                </li>
                <li>
                    C.6: PRODUTOS:
                    <ul class='inside-ul'>
                        <li>
                            tipos de operação de câmbio, divididas em:
                            <ul class='inside-ul'>
                                <li>
                                    C.6.1: TURISMO:
                                    <ul class='inside-ul'>
                                        <li>
                                            operação de câmbio utilizadas em viagens internacionais onde a moeda estrangeira pode ser negociada nas modalidades ESPÉCIE ou CARTÃO PRÉ-PAGO.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    C.6.2: COMERCIAL:
                                    <ul class='inside-ul'>
                                        <li>
                                            operação de câmbio relativas às exportações ou importações de produtos ou serviços.
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    C.6.3: REMESSA:
                                    <ul class='inside-ul'>
                                        <li>
                                            operação de câmbio relativas ao envio ou recebimento de moeda estrangeira para e do exterior.
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    C.7: INTENÇÃO DE NEGÓCIO:
                    <ul class='inside-ul'>
                        <li>
                            intenção de compra ou venda de moeda estrangeira registrada no site E-Money Câmbio pelo usuário, que poderá ou não ser aceita pela corretora de câmbio escolhida. Caso seja aceita, a mesma será efetivada.
                        </li>
                    </ul>
                </li>
                <li>
                    C.8: LOJA VIRTUAL:
                    <ul class='inside-ul'>
                        <li>
                            ambiente para geração de intenção de negócios com as corretoras de câmbio.
                        </li>
                    </ul>
                </li>
                <li>
                    C.9: E-Money Câmbio:
                    <ul class='inside-ul'>
                        <li>
                            site (plataforma) com finalidade ESTRITA de ser um MEIO FACILITADOR na busca e localização de corretoras e suas respectivas taxas de câmbio, permitindo a geração de intenção de negócios.
                        </li>
                    </ul>
                </li>
            </ul>
        </p>    
    </div>
</div>


{% endblock %}
