.main-content {

    text-align: justify;
    align-items: center;
    justify-content: center;
    width: 55%;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}
.inside-content {
    font-size: 14px;

}
.inside-content>p {
    margin-top: 30px;
    letter-spacing: 0.2px;
}

.inside-content>p>ul {
    list-style: initial;
}
.inside-content>p>ul>li {
    margin-left: 50px;
}

@media only screen and (max-width: 600px) {

    .main-content {
        width: 100%;
        padding: 30px;
    }
}
