* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Montserrat, Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body{ min-height: 100vh; margin:0; }

header{ min-height:50px; background:lightcyan; }
footer{ min-height:50px; background:PapayaWhip; }

/* The article fills all the space between header & footer */
body{ display:flex; flex-direction:column; }

article{ flex:1; }


/* PROJECT STYLE THEME */

.primary-bg-color {
  background-color: #0077B6
}

.secondary-bg-color {
  background-color: #03045E
}

.third-bg-color {
  background-color: #CAF0F8
}

.title-font-style {
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
}

.subtitle-font-style {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.1px;
  font-style: normal;
}

.text-font-style {
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
}

/* DESKTOP */

/* FOOTER STYLE */
footer {
  background-color: #0077B6;
  /* width: 100vw; */
  /* height: 225px; */
  /* bottom: 0; */
  /* left: 0; */
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 22px;
  /* position: relative;  */

  /* margin:0 auto; */
  /* width:834px; */
  /* height: auto; */
  overflow:hidden;
  /* position: fixed; */
  /* bottom: 0px; */

  width: 100%;
  /* height: 150px; */
  /* position: absolute; 
  bottom: 0; */
  /* left: 0; */

}

footer>div {
  flex-direction: column;
  gap: 10px;
  align-items: center;
  display: flex;
}
footer>div>span {
  color: #FFF;
}
footer>div>ul {
  list-style-type: none;
}

footer>div>ul>li {
margin-top: 5px;
}

footer>div>ul>li>a {
  text-decoration: none;
  color: #FFF;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
}

/* END FOOTER STYLE */

/* HEADER STYLE */
header {
  width: 100vw;
  height: 70px;
  box-shadow: 0px 5px 5px #ddd;
  /* margin-bottom: 10px; */
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  overflow-y: hidden;
}

header>ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

header>ul>li>a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
header>ul>li:hover {
  box-shadow: 0px 5px 5px #ddd;
  border-radius: 5px 5px 5px;
}

header>.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* CONTENT STYLE */

article.content {
  /* width: 100vw; */
  /* flex: 2; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;

   /* min-height: 100%; */
  /*position: relative; */
  
}

/* .content>div {
} */


.home-page {
    /** Altura do rodapé tem que ser igual a isso aqui e vice-versa **/
  padding-bottom: 100px;
} 


.bullet-coins {
  margin-top: 25px;
  font-size: 12px;
  border-radius: 5px 5px 5px;
  /* width: 50%; */
}

.bullet-coins>ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;

}

.bullet-coins>ul>li {
  color: white;
  padding: 5px;
}

.bullet-coins>ul>li>.coin-gold {
  color: #FFDE59;
}


/* END CONTENT STYLE */

.button {
  background-color: #03045E;
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  border-radius: 25px 25px 25px;
  margin-top: 50px;

}

.button:hover {
  opacity: 0.8
}

/* validação em inputs */
.check-value {
  border: 2px solid red !important;
}