* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Montserrat, Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* PROJECT STYLE THEME */

.primary-bg-color {
  background-color: #0077B6
}

.secondary-bg-color {
  background-color: #03045E
}

.third-bg-color {
  background-color: #CAF0F8
}

.title-font-style {
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
}

.subtitle-font-style {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.1px;
  font-style: normal;
}

.text-font-style {
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
}

/* HEADER STYLE */
.icon-burguer {
  display: none;
}
header {
  width: 100vw;
  height: 70px;
  box-shadow: 0px 5px 5px #ddd;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  overflow-y: hidden;
}

header>ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

header>ul>li>a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
header>ul>li:hover {
  box-shadow: 0px 5px 5px #ddd;
  border-radius: 5px 5px 5px;
}

header>.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* END HEADER STYLE */

/* FOOTER STYLE */

footer {
  background-color: #0077B6;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 22px;
  position: relative; 
  width: 100%;
  height: auto;
  margin-top: auto;
  clear: both;
}

footer>div {
  flex-direction: column;
  gap: 10px;
  align-items: center;
  display: flex;
}
footer>div>span {
  color: #FFF;
}
footer>div>ul {
  list-style-type: none;
}

footer>div>ul>li {
margin-top: 5px;
}

footer>div>ul>li>a {
  text-decoration: none;
  color: #FFF;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
}

/* END FOOTER STYLE */

/* CONTENT STYLE */

article.content {
  min-height: calc(100% - 70px) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.main {
  /* overflow: auto; */
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}


.bullet-coins {
  margin-top: 25px;
  font-size: 14px;
  border-radius: 5px 5px 5px;
}

.bullet-coins>ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;

}

.bullet-coins>ul>li {
  color: white;
  padding: 5px;
}

.bullet-coins>ul>li>.coin-gold {
  color: #FFDE59;
}


/* END CONTENT STYLE */

/* UTILS */
.button {
  background-color: #03045E;
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  border-radius: 25px 25px 25px;
  margin-top: 50px;

}

.button:hover {
  opacity: 0.8
}

/* validação em input */
.check-value {
  border: 2px solid red !important;
}

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: inline-block;
  background-color: rgb(0 0 0 / 20%);
  color: gray;
  padding: 4px 11px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  width: 100px;
  text-align: center;
}

.radio-toolbar input[type="radio"]:checked+label {
  background-color: #03045E;
  color: white;
}

.item-step-radio {
  display: flex;
  gap: 15px;
}

/*END UTILS*/

/* breadcumb */
.breadcumb {
  display: flex;
  align-items: flex-start;
  width: 100%;
  font-size: 12px;
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}
.breadcumb>a:hover {
  box-shadow: 0px 5px 5px #ddd;
  border-radius: 5px 5px 5px;
}

/* end breadcumb */

.title {
  font-weight: 300;
}

@media only screen and (max-width: 600px) {
  .main { 
      width: 100vw;
  }
  .bullet-coins {
    width: 80%;
  }

  .title-font-style {
    font-size: 18px;
  }
  
  .subtitle-font-style {
    font-size: 16px;
  }
  
  .text-font-style {
    font-size: 12px;
  }
  
  footer>div>ul>li>a {
    font-size: 12px;
  }

  footer>div>a>img {
    display: none;
  }
  .icon-burguer {
    display: block !important;
    cursor: pointer;
    
  }

  .menu {
    /* height: 16%;
    display: flex; */
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 70px;
    background-color: #0077B6;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 10px 8px;
    transition: 0.3s;
    box-shadow: 15px 15px 15px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 35px 35px;
  }
  .menu>li>a{
    color: white;
    font-size: 16px;
    font-weight: 400;
  }

  header>ul>li:hover {
    box-shadow: none;
    border-radius: none;
  }

}