{% extends "portal/base.html" %}
{% block head %}    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/portal/document-style/style.css') }}?{{version}}">
    <title>Políticas de privacidade</title>
{% endblock %}
{% block content %}

<div class="main-content">

    <h1 class="title-font-style">Políticas de privacidade e segurança de dados</h1>
    <div class="inside-content">

        <p>
            As Condições abaixo relacionadas estão devidamente alinhadas com as regras gerais de conduta que disciplinam o uso dos sites de Internet no Brasil, e especificamente, o site sob o domínio www.emoneycambio.com.br que a empresa One Tech Soluções disponibiliza gratuitamente a seus USUÁRIOS. 
        </p>
    
        <p>
            O site do Portal E-money Câmbio tem caráter gratuito, porém a utilização de alguns serviços, a saber, sua LOJA VIRTUAL, somente poderá ser feita mediante inscrição ou registro do USUÁRIO. 
        </p>
    
        <p>
            A utilização dos serviços e/ou dos conteúdos disponibilizados no site do Portal E-money Câmbio obedecem a critérios de acessibilidade, portanto, a partir do momento em que o USUÁRIO acessa o site, automaticamente estará aderindo e concordando expressamente com as condições aqui dispostas. 
        </p>
        
        <p>
            O USUÁRIO concorda que é proibido por lei: 
            <ul class="inside-ul">
                <li>                
                    Prejudicar os direitos e interesses de terceiros; 
                </li>
                <li>
                    Inutilizar, modificar ou impedir, em todo ou em parte, qualquer área do site; 
                </li>
                <li>
                    Tentar violar os meios técnicos de proteção ao conteúdo do site;
                </li>
                <li>
                    Utilizar o conteúdo do site com finalidade comercial de venda de serviços.
                </li>
            </ul>
        </p>
        <p>

            Nas áreas onde existe troca de informações, o USUÁRIO concorda que é proibido por lei difundir, disponibilizar ou transmitir conteúdo que: 
            <ul class="inside-ul">
                <li>
                    Ameace a integridade física, moral e psicológica; 
                </li>
                <li>                    
                    Contrarie o disposto na Constituição Federal Brasileira e nas Convenções Internacionais no que diz respeito aos direitos fundamentais; 
                </li>
                <li>
                    Promova atos que contenham calúnia, difamação, injúria; 
                </li>
                <li>
                    Induza qualquer tipo de discriminação, seja ela sexual, racial, étnica, religiosa, etária, social; 
                </li>
                <li>
                    Difunda serviços ilegais, violentos, imorais, pornográficos, degradantes;
                </li>
                <li>
                    Crie ansiedade, angústia, desespero, temor, depressão;
                </li>
                <li>
                    Induza a erro sobre o verdadeiro teor da vontade do USUÁRIO, utilizando-se de informações falsas, imprecisas, confusas; 
                </li>
                <li>
                    Esteja protegido pelo direito de autoria e propriedade; 
                </li>
                <li>
                    Tenha qualquer tipo de vírus que prejudique o pleno funcionamento do site e/ou do equipamento de terceiros. 
                </li>
            </ul>
        </p>
        <p>
            Quando o site do Portal E-money Câmbio requerer o cadastro do USUÁRIO no ambiente da LOJA VIRTUAL, o USUÁRIO se comprometerá em passar informações pessoais verdadeiras e completas e em mantê-las atualizadas. 
        </p>
        <p>
            O ambiente da LOJA VIRTUAL poderá confirmar os dados pessoais informados e consultar entidades públicas, companhias especializadas ou bancos de dados, estando desde já expressamente autorizada. A informação que a LOJA VIRTUAL obtiver destas entidades será tratada de forma confidencial. 
        </p>
        <p>
            Para usufruir dos serviços da LOJA VIRTUAL do PORTAL E-money Câmbio, é necessária a efetuação de cadastro, no qual haverá o fornecimento de alguns dados pessoais, os quais serão usados como forma de registro e controle pelo Portal E-money Câmbio. 
        </p>
        <p>
            Poderão ser coletados os seguintes dados pessoais, cuja veracidade é de responsabilidade do USUÁRIO: 
            <ul class="inside-ul">
                <li>
                    NOME COMPLETO;
                </li>
                <li>
                    CPF/CNPJ EMAIL;
                </li>
                <li>
                    LOGIN;
                </li>
                <li>
                    SENHA.
                </li>
            </ul>
            Cabe ao USUÁRIO manter suas informações e dados pessoais atualizados. 
        </p>
        
        <p>
            O Portal E-money Câmbio coleta e armazena automaticamente algumas informações sobre a atividade dos usuários cadastrados e visitantes de seu site. Estas informações podem incluir a URL de onde eles provêm (seja ela da própria LOJA VIRTUAL ou não), a que URL acessaram em seguida (seja ela da própria LOJA VIRTUAL ou não), o navegador que estão a utilizar e seus IP’s de acesso, as páginas visitadas, as buscas realizadas, dentre outras informações. 
        </p>
        <p>
            Os contatos efetuados pelo USUÁRIO com a LOJA VIRTUAL pelo atendimento online ficarão gravados no sistema, tendo acesso a eles somente funcionários habilitados para tal. CONSIDERAÇÕES FINAIS Eventuais apoiadores deste site têm links próprios que, quando acessados levam o usuário àqueles sites de total responsabilidade dos mesmos. A One Tech Soluções poderá a qualquer tempo, sem aviso prévio aos usuários, atualizar o conteúdo deste Termo, bem como, modificar ou extinguir qualquer serviço e/ou conteúdo do site E-money Câmbio e LOJA VIRTUAL. 
        </p>
        <p>
            As condições acima relacionadas se encontram amparadas através de normatizações brasileiras. 
        </p>
        <p>
            Esta política de privacidade foi criada com base nas políticas de privacidade do site: http://www.governoeletronico.gov.br
        </p>        
    </div>
</div>


{% endblock %}
