<form id="form-step" class="form-step" action="">
    <input type="hidden" name="nextstep" id="nextstep" value="1">

    <!-- <span class="breadcumb">
        <a href="/remessa-internacional" rel="noopener noreferrer"><b>Filtros</b></a>
    </span> -->
    
    <div class="container-coin">
        <img src="{{ url_for('static', filename='icons/coin.png') }}" alt="Moeda" width="24" height="24"/>
        <select name="coin" id="coin" class="filter-select coin">
            <option value="" disabled>Moeda</option>
            <option value="dolar-americano" attr-symbol="US$" {% if allowed_company.filters.coin.url == 'dolar-americano' %} selected {% endif %}>Dólar americano</option>
            <option value="dolar-canadense" attr-symbol="C$" {% if allowed_company.filters.coin.url == 'dolar-canadense' %} selected {% endif %}>Dólar canadense</option>
            <option value="euro" attr-symbol="€" {% if allowed_company.filters.coin.url == 'euro' %} selected {% endif %}>Euro</option>
            <option value="libra-esterlina" attr-symbol="£" {% if allowed_company.filters.coin.url == 'libra-esterlina' %} selected {% endif %}>Libra esterlina</option>
        </select>
    </div>

    <div class="radio-toolbar">
        <input type="radio" name="person_type" id="person_type_pf" value="PF" checked>
        <label for="person_type_pf">PF</label>

        <input type="radio" name="person_type" id="person_type_pj" value="PJ">
        <label for="person_type_pj">PJ</label>
    </div>

    <div class="radio-toolbar">
        <input type="radio" name="transaction" id="transaction_send" value="enviar" checked onclick="changeFeeValue('enviar')">
        <label for="transaction_send">Enviar</label>

        <input type="radio" name="transaction" id="transaction_receive" value="receber" onclick="changeFeeValue('receber')">
        <label for="transaction_receive">Receber</label>
    </div>
    
    <div class="container-input-step">
        <div class="input-step">
            <label class="text-font-style" for="value" id="value"> 
                Quanto em <b id="coin-text"></b> vai <b id="transaction-text"></b> ?
            </label>
            <input id="money" class="input-step-text" type="text" name="value">
        </div>
        
        <div class="input-step">
            <div class="info-fee text-font-style">
                VET: 
                R$ <span id="fee_value_tmp">{{allowed_company.company.coin.dispatch_international_shipment_vet}}</span>
                <input type="hidden" name="fee_value" id="fee_value" value="{{allowed_company.company.coin.dispatch_international_shipment_vet}}">
                <img src="{{ url_for('static', filename='icons/info.png') }}" alt="Moeda" width="24" height="24"/>
                <span class="tooltiptext">Valores podem estar desatualizados</span>
            </div>
        </div>
        <div class="input-step">
            <span class="msg-calc-enviar text-font-style">
                Você irá pagar: R$ <span id="dynamic-total-value-enviar">0.00</span>
            </span>    
            <span class="msg-calc-receber text-font-style" style="display: none;">
                Você irá receber: R$ <span id="dynamic-total-value-receber">0.00</span>
            </span>    
        </div>


        

    </div>
    <input class="button negotiation-international-shipment-main" type="button" value="Continuar" onclick="nextStepFormCustom(event)">
</form>
<script>
    function changeFeeValue(transaction) {
        
        var data = {{ allowed_company|tojson|safe }};
        if (transaction == 'receber'){
            $("span#fee_value_tmp").text({{allowed_company.company.coin.receipt_international_shipment_vet}})
            $("input#fee_value").val({{allowed_company.company.coin.receipt_international_shipment_vet}})
        }
        else{
            $("span#fee_value_tmp").text({{allowed_company.company.coin.dispatch_international_shipment_vet}})
            $("input#fee_value").val({{allowed_company.company.coin.dispatch_international_shipment_vet}})
        }

        let currentValue = onlyNumbers($("#money").val())
        let feeValue = onlyNumbers($('input#fee_value').val())
        let newValue = parseFloat((currentValue/100) * (feeValue/100)).toFixed(2);
        $("#dynamic-total-value").text(newValue)
     }

</script>