<!DOCTYPE html>
<html lang="en">
    <head>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,800' rel='stylesheet'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/flowbite.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/portal/base.css') }}">
        {% block head %}{% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" width=60 />
        <title>E-Money Câmbio</title>
    </head>
    <body>
        <header>
            <div class="logo">
                <div>
                    <a href="/">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="facebook" width="100" />
                    </a>
                </div>
                <a href="/">

                    <span class="subtitle-font-style">E-Money Câmbio</span>
                </a>
            </div>
            <ul>
                <li>
                    <a href="#">Cotação Turismo</a>
                </li>
                <li>
                    <a href="#">Remessa Internacional</a>
                    
                </li>
            </ul>
        </header>
        <section class="content">
            <div class="bullet-coins text-font-style secondary-bg-color">
                <ul>
                    <li>DÓLAR <span class="coin-gold">$5,20</span></li>
                    <li>BITCOIN <span class="coin-gold">$5,20</span></li>
                    <li>EURO <span class="coin-gold">$5,20</span></li>
                    <li>PESO <span class="coin-gold">$5,20</span></li>
                </ul>
            </div>
            <script src="{{ url_for('static', filename='js/utils.js') }}"></script>    
            <script src="{{ url_for('static', filename='js/flowbite.min.js') }}"></script>    
            <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>    
            <script src="{{ url_for('static', filename='js/jquery.maskMoney.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/jquery.mask.js') }}"></script>   
            <script src="{{ url_for('static', filename='js/portal/search-result/index.js') }}"></script>
            <script src="{{ url_for('static', filename='js/portal/negotiation-tourism/index.js') }}"></script>
             
            
            {% block content %}{% endblock %}
        </section>        
    </body>
    <footer>
        <div>
            <a href="/">

                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="facebook" width="120" />
            </a>
        </div>

        <div>
            <span class="subtitle-font-style">Institucional</span>
            <ul>
                <li><a href="#">Quem Somos</a></li>
                <li><a href="#">Termos de uso</a></li>
                <li><a href="#">Políticas de privacidade</a></li>
            </ul>
        </div>
        <div>
            <span class="subtitle-font-style">Serviços</span>
            <ul>
                <li><a href="#">Remessas</a></li>
                <li><a href="#">Papel/Moeda</a></li>
                <li><a href="#">Anuncie Conosco</a></li>
            </ul>
        </div>
        <div>
            <span class="subtitle-font-style">Social</span>
            <ul>
                <li>
                    <a target="_blank" rel="noreferrer nofollow" href="https://www.linkedin.com/company/cwbank-brasil/">
                        <img src="{{ url_for('static', filename='icons/logotipo-do-linkedin.png') }}" alt="facebook" width="24" />
                    </a>
                </li>
                <li>
                    <a target="_blank" rel="noreferrer nofollow" href="https://www.instagram.com/emoney.cambio/">                            
                        <img src="{{ url_for('static', filename='icons/logotipo-do-instagram.png') }}" alt="instagram" width="24" />
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</html>