<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-02VLCGZHSX"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-02VLCGZHSX');
        </script>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5KDF47Z');</script>
    <!-- End Google Tag Manager -->
        <!-- CSS -->
        <link href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,800' rel='stylesheet'>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/flowbite.min.css') }}?{{version}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/portal/base.css') }}?{{version}}">        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/portal/document-style/style.css') }}?{{version}}">
        
        
        
        
        

        {% block head %}{% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Emoney Câmbio: negocie moedas estrangeiras online com segurança e praticidade nas maiores corretoras do Brasil. Economize tempo e dinheiro conosco. ">
        <meta property="og:url" content="https://www.emoneycambio.com.br/">
        <meta property="og:type" content="article">
        <meta property="og:image" content="https://www.emoneycambio.com.br/static/images/logo.png">
        <!-- <meta property="og:image:width" content="100">
        <meta property="og:image:height" content="100"> -->
        <meta property="og:description" content="Emoney Câmbio: negocie moedas estrangeiras online com segurança e praticidade nas maiores corretoras do Brasil. Economize tempo e dinheiro conosco. ">
        <meta property="og:title" content="Cotação de moedas online | E-Money Câmbio">
        <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" width=60  />
        <title>Cotação de moedas online | E-Money Câmbio</title>
        
    </head>
    <body id="body">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KDF47Z"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <header>
            <div class="logo">
                <div>
                    <a class="logo-header-negotiation-tourism-link" href="/">
                        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Emoney câmbio" width="100" height="100"/>
                    </a>
                </div>
                <a href="/">
                    <span class="subtitle-font-style">E-Money Câmbio</span>
                </a>
            </div>

            <ul class="menu" id="menu-header">
                <li><a class="negotiation-tourism-link" rel="noreferrer nofollow" href="/">Cotação Turismo</a></li>
                <li><a class="negotiation-international-shipment-link" rel="noreferrer nofollow" href="/remessa-internacional/">Remessa Internacional</a>  </li>
            </ul>
            <img onclick="toogleMenuHeader(this)" alt="menu" class='icon-burguer' id="menu-header" src="{{ url_for('static', filename='icons/icon_menu_hamburguer.png') }}" width="36" height="36" />
        </header>
        <article id="#content" class="content">
            <script src="{{ url_for('static', filename='js/flowbite.min.js') }}?{{version}}"></script>    
            <script src="{{ url_for('static', filename='js/jquery.min.js') }}?{{version}}"></script>    
            <script src="{{ url_for('static', filename='js/jquery.mask.js') }}?{{version}}"></script>   
            <script src="{{ url_for('static', filename='js/jquery.maskMoney.min.js') }}?{{version}}"></script>
            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
            <script src="{{ url_for('static', filename='js/portal/home/index.js') }}?{{version}}"></script>
            <script src="{{ url_for('static', filename='js/portal/negotiation-tourism/index.js') }}?{{version}}"></script>
            <script src="{{ url_for('static', filename='js/portal/negotiation-international-shipment/index.js') }}?{{version}}"></script>            
            <script src="{{ url_for('static', filename='js/portal/search-result/index.js') }}?{{version}}"></script>
            <script src="{{ url_for('static', filename='js/utils.js') }}?{{version}}"></script>    
            <script src="{{ url_for('static', filename='js/index.js') }}?{{version}}"></script>               

            <div class="main" id="main">
                <h2 class="bullet-coins subtitle-font-style secondary-bg-color">
                    <ul>
                        <li><span class="coin-name">DÓLAR</span> <span class="coin-gold" id="USDBRL">0</span></li>
                        <li><span class="coin-name">BITCOIN</span> <span class="coin-gold" id="BTCBRL">0</span></li>
                        <li><span class="coin-name">EURO</span> <span class="coin-gold" id="EURBRL">0</span></li>
                        <li><span class="coin-name">LIBRA ESTERLINA</span> <span class="coin-gold" id="GBPBRL">0</span></li>
                    </ul>
                </h2>    
                
                
                {% block content %}{% endblock %}
                <div class="quick-links">
        
                    <h3 class="title-font-style">Moedas mais acessadas</h3>
                    <ul>
                        <li>
                            <a href="https://www.emoneycambio.com.br/cotacao/dolar-americano/sao-paulo-sp/" target="_blank">
                                Dólar americano em São Paulo - SP
                            </a>
                        </li>
                        <li>
                            <a href="https://www.emoneycambio.com.br/cotacao/dolar-americano/rio-de-janeiro-rj/" target="_blank">
                                Dólar americano em Rio de Janeiro - RJ
                            </a>
                        </li>
                        <li>
                            <a href="https://www.emoneycambio.com.br/cotacao/dolar-americano/curitiba-pr/" target="_blank">
                                Dólar americano em Curitiba - PR
                            </a>
                        </li>
                        <li>
                            <a href="https://www.emoneycambio.com.br/cotacao/dolar-canadense/sao-paulo-sp/" target="_blank">
                                Dólar canadense em São Paulo - SP
                            </a>
                        </li>
                        <li>
                            <a href="https://www.emoneycambio.com.br/cotacao/dolar-canadense/rio-de-janeiro-rj/" target="_blank">
                                Dólar canadense em Rio de Janeiro - RJ
                            </a>
                        </li>
                        <li>
                            <a href="https://www.emoneycambio.com.br/cotacao/dolar-canadense/curitiba-pr/" target="_blank">
                                Dólar canadense em Curitiba - PR
                            </a>
                        </li>
                        <li>
                            <a href="https://www.emoneycambio.com.br/cotacao/euro/sao-paulo-sp/" target="_blank">
                                Euro em São Paulo - SP
                            </a>
                        </li>
                        <li>
                            <a href="https://www.emoneycambio.com.br/cotacao/euro/rio-de-janeiro-rj/" target="_blank">
                                Euro em Rio de Janeiro - RJ
                            </a>
                        </li>
                        <li>
                            <a href="https://www.emoneycambio.com.br/cotacao/euro/curitiba-pr/" target="_blank">
                                Euro em Curitiba - PR
                            </a>
                        </li>
                        <li>
                            <a href="https://www.emoneycambio.com.br/cotacao/libra-esterlina/sao-paulo-sp/" target="_blank">
                                Libra esterlina em São Paulo - SP
                            </a>
                        </li>
                        <li>
                            <a href="https://www.emoneycambio.com.br/cotacao/libra-esterlina/rio-de-janeiro-rj/" target="_blank">
                                Libra esterlina em Rio de Janeiro - RJ
                            </a>
                        </li>
                        <li>
                            <a href="https://www.emoneycambio.com.br/cotacao/libra-esterlina/curitiba-pr/" target="_blank">
                                Libra esterlina em Curitiba - PR
                            </a>
                        </li>
                        
                    </ul>
        
                </div>
                <div class="main-content">

                    <h2 class="title-font-style">Quem somos</h2>
                    <div class="inside-content">
                        <p>
                            Bem-vindo ao nosso marketplace de câmbio, onde conectamos clientes com diversas corretoras para obter as melhores taxas de câmbio do mercado.
                        </p>
                        <p>
                            Aqui, nosso objetivo é oferecer uma solução rápida e eficiente para as necessidades de câmbio de nossos clientes. Sabemos que encontrar as melhores taxas de câmbio pode ser um processo complicado e demorado, por isso, criamos uma plataforma que simplifica todo o processo.
                        </p>
                        <p>
                            Nós acreditamos que transparência é fundamental para nossos clientes, por isso, todas as taxas são exibidas de forma clara e precisa. Nosso marketplace é seguro e confiável, com todas as corretoras parceiras sendo rigorosamente avaliadas antes de serem aceitas na nossa plataforma.
                        </p>
                        <p>
                            Nosso objetivo é fornecer uma experiência de câmbio sem complicações, economizando tempo e dinheiro para nossos clientes. Seja para uma viagem internacional ou para uma transação financeira, estamos prontos para ajudar nossos clientes a encontrarem as melhores taxas de câmbio disponíveis.
                        </p>
                        <p>
                            Experimente nosso marketplace de câmbio agora e veja como podemos ajudá-lo a economizar dinheiro e tempo em suas transações de câmbio.
                        </p>
                    </div>
                </div>
                

            </div>
        </article>        
        
        
    </body>
</html>
