<!DOCTYPE html>
<html lang="en">
    <head>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:300,500,600,800' rel='stylesheet'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/portal/base.css') }}">
        {% block head %}{% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}" width=60 />
        <title>E-Money Câmbio</title>
    </head>
    <body>
        <header>
            <div class="logo">
                <div>
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="facebook" width="100" />
                </div>
                <span class="subtitle-font-style">E-Money Câmbio</span>
            </div>
            <ul>
                <li>
                    <a href="#">Cotação Turismo</a>
                </li>
                <li>
                    <a href="#">Remessa Internacional</a>
                    
                </li>
            </ul>
        </header>
        <section class="content">
            {% block content %}{% endblock %}
        </section>        
    </body>
    <footer>
        <div>
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="facebook" width="120" />
        </div>

        <div>
            <span class="subtitle-font-style">Institucional</span>
            <ul>
                <li><a href="#">Quem Somos</a></li>
                <li><a href="#">Termos de uso</a></li>
                <li><a href="#">Políticas de privacidade</a></li>
            </ul>
        </div>
        <div>
            <span class="subtitle-font-style">Serviços</span>
            <ul>
                <li><a href="#">Remessas</a></li>
                <li><a href="#">Papel/Moeda</a></li>
                <li><a href="#">Anuncie Conosco</a></li>
            </ul>
        </div>
        <div>
            <span class="subtitle-font-style">Social</span>
            <ul>
                <li>
                    <a target="_blank" rel="noreferrer nofollow" href="https://www.linkedin.com/company/cwbank-brasil/">
                        <img src="{{ url_for('static', filename='icons/logotipo-do-linkedin.png') }}" alt="facebook" width="24" />
                    </a>
                </li>
                <li>
                    <a target="_blank" rel="noreferrer nofollow" href="https://www.instagram.com/emoney.cambio/">                            
                        <img src="{{ url_for('static', filename='icons/logotipo-do-instagram.png') }}" alt="instagram" width="24 /">
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/global.js') }}"></script>

</html>